<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @profile.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @profile.date_of_birth %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
